
.whole-bottom-container{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 140px;
}

.bottom-left-buttons{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 700px;
    margin-top: 16px;
}



.get-bottom-image-container{
    background-color: #313336;
    border: none;
    border-radius: 4px;
    margin-right: 20px;
}

.get-on-img{
    width: 150px;
    margin-top: 3px;
}

.get-bottom-image-container:hover{
    background-color: #5d606b;
}

